---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="px-24 max-sm:px-5 max-w-7xl max-auto">
    <h1 class="text-blue-500">Hello</h1>
  </main>
</Layout>

<style></style>
